name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  releases:
    name: Build and Release APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Get packages
        run: flutter pub get

      - name: Build APK (split per abi)
        run: flutter build apk --split-per-abi

      # --- SIGNING (clean + stable) ---
      - name: Sign APKs using r0adkll action
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: build/app/outputs/flutter-apk
          signingKeyBase64: ${{ secrets.KEY_JKS }}
          alias: release
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      # --- UPLOAD RELEASE ---
      - name: Upload signed APKs as release artifact
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: false
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          body: "Published by GitHub Actions"
          token: ${{ secrets.GITHUB_TOKEN }}